# Qt & QMake
*.pro.user
*.qmake.stash
*.pro.user.*
*.autosave

# Visual Studio files
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# QtCreator project files for Visual Studio
*.qtvscr

# Build output
debug/
release/
build/

#server 
scrcpy/

CMakeLists.txt
test_adbserver.cpp
third_party/
